@{
    ViewBag.Title = OrganizadorReuniao.Languages.pt_br.MemoPageTitle;
}

<div class="row">
    <div class="col-md-8">
        <h2>@OrganizadorReuniao.Languages.pt_br.MemoPageTitle</h2>
    </div>
    <div class="col-md-4">
        <label for="exampleInputEmail1">Data</label>
        <input type="date" class="form-control" />
        <p class="help-block">Formato: dd/mm/aaaa</p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <label for="exampleInputEmail1">Abetura e Reconhecimentos</label>
        <textarea class="form-control" rows="3"></textarea>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <label for="exampleInputEmail1">Anúncios</label>
        <textarea class="form-control" rows="3"></textarea>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <label for="exampleInputEmail1"><span class="glyphicon glyphicon-music" aria-hidden="true"></span>&nbsp;&nbsp;Hino de abertura</label>
        <select class="form-control">
            <option value="1">1 - Tal como um facho</option>
        </select>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <label for="exampleInputEmail1">Chamados</label>
        <textarea class="form-control" rows="3"></textarea>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-2">
        <label>Assuntos da Estaca</label><br />
        <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            Sim
        </label>
        <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" checked>
            Não
        </label>
    </div>
    <div class="col-md-10">
        <textarea class="form-control" rows="2"></textarea>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <label for="exampleInputEmail1"><span class="glyphicon glyphicon-music" aria-hidden="true"></span>&nbsp;&nbsp;Hino sacramental</label>
        <select class="form-control">
            <option value="1">1 - Tal como um facho</option>
        </select>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <p class="bg-success" style="padding: 10px;">O sacramento será abençoado e distribuído a todos</p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <label for="exampleInputEmail1">Primeiro discurso</label>
        <input type="text" class="form-control" />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <label for="exampleInputEmail1">Segundo discurso</label>
        <input type="text" class="form-control" />
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <label for="exampleInputEmail1"><span class="glyphicon glyphicon-music" aria-hidden="true"></span>&nbsp;&nbsp;Hino intermediário</label>
        <select class="form-control">
            <option value="1">1 - Tal como um facho</option>
        </select>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <label for="exampleInputEmail1">Terceiro discurso</label>
        <input type="text" class="form-control" />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <label for="exampleInputEmail1">Quarto discurso</label>
        <input type="text" class="form-control" />
    </div>
</div>

<br />
<br />
<br />
<br />
<br />

