@{
    ViewBag.Title = "Esqueci minha senha";
}

<div class="page-header">
    <h2>Esqueci minha senha</h2>
</div>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
{
    <div class="form-group">
        <label for="email">Email cadastrado</label>
        @Html.TextBox("email")
    </div>
    
    <hr />
    
    <button type="submit" class="btn btn-primary">Enviar-me nova senha</button>
}