@{
    ViewBag.Title = "Sucesso";
}

<div class="page-header">
    <h2>Sucesso</h2>
</div>

<div class="alert alert-success">
    <p>Sua conta foi criada com sucesso.</p>
    <p>@Html.ActionLink("Clique aqui", "Login") para entrar no sistema.</p>
</div>