@{
    ViewBag.Title = OrganizadorReuniao.Languages.pt_br.Success;
}

<div class="page-header">
    <h2>@OrganizadorReuniao.Languages.pt_br.Success</h2>
</div>

<div class="alert alert-success">
    <p>@OrganizadorReuniao.Languages.pt_br.YourAccountWasUpdatedSuccessfully</p>
</div>
