@{
    ViewBag.Title = "Home";
}

<div class="page-header">
    <h2>Agenda SUD</h2>
</div>

<div class="row">
    <div class="col-md-8">
        <p>Confira abaixo as funcionalidades contidas na nova Agenda SUD</p>
        <ul>
            <li>Agenda Sacramental</li>
            <li>Cadastro de Membros
                <ul>
                    <li>Individual</li>
                    <li>Em Massa</li>
                </ul>
            </li>
            <li>Controle de Acesso (com diferentes perfis)</li>
            <li>Controle de Frequência
                <ul>
                    <li>Elder</li>
                    <li>Escola Dominical - Adultos</li>
                    <li>Escola Dominical - Jovens</li>
                    <li>Moças</li>
                    <li>Primária</li>
                    <li>Rapazes</li>
                    <li>Sacramental (Exclusivo)</li>
                    <li>Sociedade de Socorro</li>
                    <li>Sumo Sacerdote</li>
                </ul>
            </li>
            <li>Lista de Atividades</li>
            <li>Lista de Chamados e Desobrigações</li>
            <li>Relatório
                <ul>
                    <li>Lista de Discursantes</li>
                    <li>Relatório Trimestral</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <img src="~/Images/ward.jpg" class="img-thumbnail" />
    </div>
</div>
